<!--The content below is only a placeholder and can be replaced.-->
<div class="appContainer">
  <div class="deckContainer">
    <a class="button drawButton" (click)="drawCard()" [ngClass]="{'active': numberOfCards === 0}">Start Round</a>
    <span class="deckInfo cardsRemaining">{{numberOfRemainingCards}} cards remaining</span>
    <span class="deckInfo cardsDrawn">{{(0 -numberOfRemainingCards) + 52}} cards drawn</span>
    <div class="drawnCardsContainer">
      <div class="cardContainer">
        <div class="card" *ngFor="let card of drawnCards" [ngClass]="{'active': card.active, 'played': card.played, 'discarding': card.discarding, 'discarded': card.discarded}">
          <div class="cardHeader">
            <span class="cardSuit">{{card.suit}}</span>
          </div>
          <div class="cardBody">
            <span class="cardNumber">{{card.value}}</span>
          </div>
          <div class="cardFooter">
            <span class="cardSuit">{{card.suit}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="pileSize" [ngClass]="{'active': numberOfCards > 0}">
      <span>{{numberOfCards + (numberOfCards === 1 ? ' card' : ' cards')}} in the pile</span>
    </div>
    <div class="gameMessage">
      <span>{{gameMessage}}</span>
    </div>
    <div class="gameButtons">
      <a class="button gameButton guessHigherButton" [ngClass]="{'active': numberOfCards > 0 && guessCorrect}" (click)="guessHigher()">Higher!</a>
      <a class="button gameButton guessLowerButton" [ngClass]="{'active': numberOfCards > 0 && guessCorrect}" (click)="guessLower()">Lower!</a>
      <a class="button gameButton passButton" [ngClass]="{'active': numberOfCorrectGuesses > 2}" (click)="pass()">Pass!</a>
    </div>
    <div class="encourager" [ngClass]="{'active': numberOfCorrectGuesses > 1}">
      <span>{{encourager}}</span>
    </div>
  </div>
  <div class="playerContainer">
    <div class="player player1">
      <span class="playerTitle">Player 1</span>
      <span class="playerScore">Score: {{player1.score}}</span>
      <span class="playerStatus" *ngIf="player1.turnActive">Currently Your Turn</span>
      <span class="playerStatus inactive" *ngIf="!player1.turnActive">Player 2's Turn</span>
    </div>
    <div class="player player2">
      <span class="playerTitle">Player 2</span>
      <span class="playerScore">Score: {{player2.score}}</span>
      <span class="playerStatus" *ngIf="player2.turnActive">Currently Your Turn</span>
      <span class="playerStatus inactive" *ngIf="!player2.turnActive">Player 1's Turn</span>
    </div>
  </div>
</div>
