.appContainer {
  color: #fff;
  font-family: 'Syncopate', cursive;
}

.deckContainer {
  width: 100%;
}

.drawButton {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 125px;
  text-align: center;
  opacity: 0.5;
  pointer-events: none;
}

.drawButton.active {
  opacity: 1;
  pointer-events: auto;
}

.drawnCardsContainer {

}

.cardContainer {
  position: relative;
  display: block;
  width: 152px;
  margin: 0 auto;
}

.card {
  position: absolute;
  width: 110px;
  height: 180px;
  background: rgba(0,0,0,0.2);
  border: 1px solid #fff;
  border-radius: 3px;
  display: block;
  padding: 15px 20px 15px 20px;
  opacity: 0;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.card.active {
  margin: 0 auto;
  opacity: 1;
  transform: translate(0px, 50px);
}

.card.played {
  opacity: 0;
}

.card.discarding {
  opacity: 0;
  transform: translate(50px, 50px);
}

.card.discarded {
  display: none;
}

.cardHeader {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  text-align: left;
  line-height: 30px;
}

.cardBody {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 75px;
}

.cardFooter {
  border-top: 1px solid #fff;
  padding-top: 10px;
  text-align: right;
  line-height: 30px;
}

.cardSuit {
  font-size: 12px;
}

.cardNumber {
  font-size: 24px;
}

.pileSize {
  margin-top: 315px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.pileSize.active {
  opacity: 1;
}

.gameMessage {
  margin-top: 50px;
  text-align: center;
}

.encourager {
  margin-top: 50px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

.encourager.active {
  opacity: 1;
}

.gameButtons {
  padding-top: 50px;
  width: 260px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.gameButton {
  width: 100px;
}

.guessHigherButton,
.guessLowerButton,
.passButton {
  opacity: 0.5;
  pointer-events: none;
}

.guessHigherButton.active,
.guessLowerButton.active,
.passButton.active {
  opacity: 1;
  pointer-events: auto;
}

.guessHigherButton {
  float: left;
}

.guessLowerButton {
  float: right;
}

.passButton {
  margin-top: 15px;
}

.playerContainer {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  pointer-events: none;
}

.player {
  background: rgba(0,0,0,0.2);
  width: 300px;
  border-radius: 3px;
  text-align: center;
}

.player span {
  display: block;
}

.player1 {
  float: left;
  margin-left: 50px;
}

.player2 {
  float: right;
  margin-right: 50px;
}

.playerTitle {
  text-transform: uppercase;
  line-height: 50px;
  font-size: 18px;
}

.playerScore {
  text-transform: uppercase;
  font-size: 14px;
}

.playerStatus {
  text-transform: uppercase;
  line-height: 50px;
  font-size: 14px;
}

.playerStatus.inactive {
  opacity: 0.5;
}
